body {
    background-color: #022127;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#info img {
    margin: 30px;

    grid-column-start: 2;
    grid-column-end: 3;
}
#info h1 {
    text-align: center;
    margin: 30px;

    grid-column-start: 2;
    grid-column-end: 3;
}
#info p {
    text-align: center;
    margin: 30px;

    grid-column-start: 2;
    grid-column-end: 3;
}

#cvlink {
    color: #EBB5B8;
}
