body {
    background-color: #EAC4C6;
}

#splash {
    text-align-last: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#splash a {
    grid-column-start: 1;
    grid-column-end: 4;
}


#splash h1 {
    text-align: center;
    padding: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
}

#splash p {
    padding: 30px;
}

#splash a img {
    width: 16%;
    padding-bottom: 15px;
}


#refleksjoner {
    padding: 30px;
    background-color: #EBA6A9;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#refleksjoner h3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#refleksjoner p {
    grid-column-start: 1;
    grid-column-end: 2;

    margin-top: 10px;
}

#refleksjoner2 {
    padding: 30px;
    background-color: #EBB5B8;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#refleksjoner2 h3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#refleksjoner2 p {
    grid-column-start: 2;
    grid-column-end: 3;

    margin-top: 10px;
}

#refleksjoner3 {
    padding: 30px;
    background-color: #EBA6A9;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#refleksjoner3 h3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#refleksjoner3 p {
    grid-column-start: 1;
    grid-column-end: 2;

    margin-top: 10px;
}

@media only screen and (max-width: 768px) {

    #splash h1 {
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 25px;
    }

    #refleksjoner p {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #refleksjoner h3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #refleksjoner2 p {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #refleksjoner2 h3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #refleksjoner3 p {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #refleksjoner3 h3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
