body {
    background-color: #F3D6CA;
}

#splash {
    text-align-last: center;
}

#splash h1 {
    padding: 30px;
}

#splash img {
    width: 70%;
    padding-bottom: 30px;
}

#refleksjoner {
    padding: 30px;
    background-color: #FFC6AC;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#refleksjoner h3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#refleksjoner p {
    grid-column-start: 1;
    grid-column-end: 2;

    margin-top: 10px;
}

#refleksjoner2 {
    padding: 30px;
    background-color: #F9CEBB;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#refleksjoner2 h3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#refleksjoner2 p {
    grid-column-start: 2;
    grid-column-end: 3;

    margin-top: 10px;
}
