body {
    background-color: #A7C9BB;
}

#splash {
    text-align-last: center;
}

#splash h1 {
    padding: 30px;
}

#splash img {
    width: 70%;
    padding-bottom: 30px;
}

#refleksjoner {
    padding: 30px;
    background-color: #6E9887;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#refleksjoner h3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#refleksjoner p {
    grid-column-start: 1;
    grid-column-end: 2;

    margin-top: 10px;
}

#refleksjoner2 {
    padding: 30px;
    background-color: #8AB1A1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#refleksjoner2 h3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#refleksjoner2 p {
    grid-column-start: 2;
    grid-column-end: 3;

    margin-top: 10px;
}

.float {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-duration: 0.3s;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-property: transform;
}

.float:hover {
  transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

