body {
    background-color: #e2c4b8;
}

#splash {
    text-align-last: center;
    padding-bottom: 30px;
}

#splash h1 {
    padding: 30px;
    text-align: center;
}

#splash img {
    width: 60%;
}


#refleksjoner {
    padding: 30px;
    background-color: #d3a793;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#portrett {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

video {
    grid-column-start: 2;
    grid-column-end: 3;

    width: 100%;
    height: auto;
}

#refleksjoner h3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#refleksjoner p {
    grid-column-start: 1;
    grid-column-end: 2;

    margin-top: 10px;
}

#refleksjoner2 {
    padding: 30px;
    background-color: #bc9b8c;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#refleksjoner2 h3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#refleksjoner2 p {
    grid-column-start: 2;
    grid-column-end: 3;

    margin-top: 10px;
}



#dokumentasjon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;

}

#dokumentasjon a{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 50%;

    position: relative;
    left: 25%;
}

#dokumentasjon p {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    margin-top: 10px;
}


@media only screen and (max-width: 768px) {

    #refleksjoner2 {
        grid-template-columns: 1fr;
    }

    #refleksjoner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #refleksjoner2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #portrett {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

video {
    grid-column-start: 1;
    grid-column-end: 6;

    width: 100%;
    height: auto;
}

    #dokumentasjon a{
    grid-column-start: 1;
    grid-column-end: 4;
    width: 50%;

}

}
