body {
    background-color: #EAC4C6;
}

#splash {
    text-align-last: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#splash a {
    grid-column-start: 1;
    grid-column-end: 4;
}


#splash h1 {
    text-align: center;
    padding: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
}

#splash p {
    padding: 30px;
}

#splash a img {
    width: 16%;
    padding-bottom: 15px;
}


#refleksjoner {
    padding: 30px;
    background-color: #EBA6A9;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#refleksjoner h3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#refleksjoner p {
    grid-column-start: 1;
    grid-column-end: 2;

    margin-top: 10px;
}

#refleksjoner2 {
    padding: 30px;
    background-color: #EBB5B8;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#refleksjoner2 h3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#refleksjoner2 p {
    grid-column-start: 2;
    grid-column-end: 3;

    margin-top: 10px;
}

#refleksjoner3 {
    padding: 30px;
    background-color: #EBA6A9;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#refleksjoner3 h3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#refleksjoner3 p {
    grid-column-start: 1;
    grid-column-end: 2;

    margin-top: 10px;
}

/*Slideshow*/

#doku {
    margin: 300px;
}

.slideshow {
    width: 768px;
    height: 432px;
    overflow: hidden;
}

.middle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide_nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    margin: 15px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}

#r4:checked ~ .s1 {
    margin-left: -60%;
}


@media only screen and (max-width: 768px) {

    #splash h1 {
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: 25px;
    }

    #refleksjoner p {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #refleksjoner h3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #refleksjoner2 p {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #refleksjoner2 h3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #refleksjoner3 p {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #refleksjoner3 h3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }


    /*Slideshow*/

    #doku {
        margin: 130px;
    }

    .slideshow {
        width: 416px;
        height: 234px;
        overflow: hidden;
    }

    .middle {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .slide_nav {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }

    .bar {
        border-radius: 100%;
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        margin: 15px;
        cursor: pointer;
        transition: 0.4s;
    }

    .bar:hover {
        background: #fff;
    }

    input[name="r"] {
        position: absolute;
        visibility: hidden;
    }

    .slides {
        width: 500%;
        height: 100%;
        display: flex;
    }

    .slide {
        width: 20%;
        transition: 0.6s;
    }

    .slide img {
        width: 100%;
        height: 100%;
    }

    #r1:checked ~ .s1 {
        margin-left: 0;
    }

    #r2:checked ~ .s1 {
        margin-left: -20%;
    }

    #r3:checked ~ .s1 {
        margin-left: -40%;
    }

    #r4:checked ~ .s1 {
        margin-left: -60%;
    }

}
